.header {
    align-items: center;
}

.nav {
    margin-right: 30px;
}

.nav a {
    margin-left: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: aliceblue;
}

.img img {
    width: 60px;

}